<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
      <!--pluralize: テキストヘルパー 最初の因数に整数が与えらると、それに基づいて-->
                                  <!--２番目の引数の英単語を複数形にしたものを返す。-->
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>